@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-source-sans);
  --font-serif: var(--font-source-serif);
}

body {
  background: #f4efe4;
  color: #2a241c;
  font-family: var(--font-source-serif), serif;
}
